/* import fonts - google */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/*  ==================================================GERAL==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* usage - font-family: 'DM Sans', sans-serif;*/

/* rem - propriedade relativa

  tamanho padrão fonte navegador: 16px
 */
:root {
  /* 62.5% == 10px aproximadamente */
  font-size: 62.5%;
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(148, 23%, 89%);

  /* vai ser aplicado a todo body */
  --brand-green-light2: hsl(180, 14%, 97%);

  /* height do elemento conforme figma, o mesmo se daria somando padding top e bottom */
  --nav-height: 7.2rem;
}

html {
  /* scroll suave */
  scroll-behavior: smooth;
}

/* font-size: 1rem  - equivale a 100% do font-size definido no root*/
/* 1rem = 10px */
/* obs: para saber o valor em rem - qntidade em pixel/10 */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  /* 1.6 define o font para aproximadamente 16px */
  font-size: 1.6rem;
  text-align: center;

  /* sobrepor, tamanho do body etc deixar o nav qndo scroll por cima, contar o tamanho dele*/
  overflow: overlay;

  background-color: var(--brand-green-light2);
}

/* segue a mesma ideia do .content, para reutilizar em outras sessoes sem ficar repetindo o mesmo conteudo */
.wrapper {
  width: 37.5rem;
  margin-left: auto;
  margin-right: auto;

  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/* padrao para imagems no projeto */
img {
  /* vai sempre respeitar 100% a caixa que ela esta */
  max-width: 100%;
}

/* todo Section, por definiçao (conforme figma) tem um espaço TOP e Bottom de 100px, um padding - para os elementos */
section {
  /* ou padding-block */
  padding-top: 10rem;
  padding-bottom: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  color: var(--primary-color);
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--headline);

  /* nesse projeto apenas nesse h1 usa o magin-bottom, mas em outros usar separado */
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

/*  ==================================================NAVIGATION==================== */

/* 1º versao NAV */
/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-height);

  padding-block: 1.6rem;

  /* fixar o menu, para qndo scroll */
/* position: fixed; */
/* top: 0; */
/* left: 50%; */
/* deslocar apenas a metade do tamanho do elemento, para centralizar */
/* transform: translateX(-50%); */
/* }  */

nav {
  display: flex;
  height: var(--nav-height);

  /* fixar o menu, para qndo scroll */
  position: fixed;
  top: 0;

  /* left: 50%;
  /* deslocar apenas a metade do tamanho do elemento, para centralizar */
  /* transform: translateX(-50%); */

  /* esse width estava no nav.scroll e estava limitado ao tamanho nav, agora no wrapper ele preenche automatico e centraliza  */
  width: 100vw;

  /* subir 100 camadas, para ficar por cima, por conta do scrollreveal, que estava sobrepondo */
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
  /* qndo scroll vai pegar toda a largura da viewport */
}

/* svg:nth-child(1) */
nav.scroll .logo path {
  fill: #fff;
}
nav.scroll button path {
  stroke: #fff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*  ======================NAVIGATION MENU EXPANDED==================== */

/* quando transbordar as laterias para nao aparecer as barras de rolagem */
body.menu-expanded {
  overflow: hidden;
}

/* > seleciona todos elementos do primeiro nivel, :not(nav) = menos elemento Nav */
/* sumir com todos os elementos abaixo de nav (header, etc..) */
body.menu-expanded > :not(nav) {
  /* display: none; --- remove os elementos como se nao existissem*/
  visibility: hidden;
}

/* quando body nao tiver a classe menu.expanded */
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

/* quando o body tiver a classe menu.expanded */
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

/*por padrao ele vai ser jogado para baixo, por causa da animação CSS apenas, para surgir de baixo  */
.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  /* adicionando efeito transiçao CSS - animação */
  transition: transform 300ms;
  /* ao abrir ele volta para cima que por padrao estava em translateY(100%) */
  transform: translateY(0);
}

/* nav tambem possui o position fixed, entao nesse caso usa o relative para "tirar" o posicionamento fixed do nav*/
/* body.menu-expanded nav {
  position: relative;
} */

/* aplica somente ao primeiro UL para nao mudar o display dos social links */
.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  /* espaçamento entre os elementos */
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu .button {
  background-color: #fff;

  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;

  padding-block: 1.6rem;
  padding-inline: 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* espaçamento entre os elementos */
  gap: 3.2rem;
}

/* precisa colocar a logo e o botao no mesmo nivel do menu-expanded */
body.menu-expanded .logo,
body.menu-expanded button {
  /* para poder usar outras propriedades como o z-index */
  position: relative;
  z-index: 10;
}
body.menu-expanded .logo path {
  fill: #fff;
}
body.menu-expanded button path {
  stroke: #fff;
}

/*  ==================================================HEADER - HOME ==================== */
/* ------------------- aula 2 ---------------- */
/* para fazer o backgroud atras do header ate a metade dos stats, conforme figma */
#home::before {
  content: '';
  /* 100vw pega toda largura da viewport da pagina */
  width: 100%;
  /* calc para manter a proporçao msmo com o fixed Nav sobreposto */
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green-light);
  /* para o elemento aparecer, ele precisa ter um display */
  display: block;

  /* elemento colado nas extremidades da viewport */
  position: absolute;
  top: 0;
  left: 0;

  /* z-index: 0   - padrao de todo elemento */
  z-index: -1;
}
/* ------------------------------------------- */

#home {
  /* height: 108rem; */
  /* calc faz a soma do margin-top 4.1 com o height do nav, ja que agora ele esta fixed e sobreposto aos elementos */
  /* margin-top: calc(4.1rem + var(--nav-height)); */
  padding-top: calc(4.1rem + var(--nav-height));
}

/* padronizado foi definido no section header h4 e h1*/
/* #home h4 {
  font-size: 1.4rem;
  line-height: 150%;

  margin-top: 4.1rem;
  margin-bottom: 1.6rem;

  color: var(--primary-color);
} */

/* #home h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 2.4rem;
} */

#home p {
  width: 32.7rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);
  width: 26.3rem;
  height: 5.2rem;

  border-radius: 4rem;
  border: none;

  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;

  /* trabalha com as caixas de dentro */
  display: flex;
  justify-content: center;
  align-items: center;
  /* espaço entre os elementos */
  gap: 1.6rem;
  /* o flex tem o mesmo comportamento do block para os elementos fora */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* para posicionar a imagem um pouco para baixo, mexendo apenas o eixo do objeto dentro da "caixa" */
  /* objetct-position: 0 2rem */
  object-position: 0px 2rem;

  /* filter: drop-shadow(0px -3px 3px var(--primary-color)); */
}

#home .div-stats {
  width: 32.7rem;
  /* height: 47rem; */

  background: var(--brand-beige);
  /* 
  margin-left: auto;
  margin-right: auto; */
  /* pode ser substituido por margin-inline = atua sobre o eixo X */
  margin-inline: auto;

  /* para nao colocar o height */
  /* block = atua sobre o eixo Y */
  padding-block: 4rem;

  border-radius: 0.6rem;
  border: 1px solid var(--brand-green-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  /* aplica separação nos elementos - 60px */
  gap: 6rem;
}

#home .stat p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--primary-color);

  margin: 0;
}

#home .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 0.4rem;
}

/*  ======================SERVIÇOS==================== */

/* padronizado foi defindo do section header h2 e h4 */

/* section services referenciado pelo ID acessando as tags */
/* #services header h4 {
  font-size: 1.4rem;
  line-height: 150%;

  color: var(--primary-color);

  letter-spacing: 0.08rem;
  text-transform: uppercase; */

/* margin entre os elementos conforme figma */
/* margin-bottom: 1.6rem;
} */
#services header h2 {
  margin-bottom: 6rem;
}

/* AULA 03 - Sobre não aplicar LarguraxAltura nos cards: como a div ela ja é um display block, ela ja ocupa toda a largura
 do espaço que ela esta = 100% / oque precisa fazer nesse caso é aplicar os outros espaços internosXexternos conforme a 
 estrutura do Figma ou etc*/

/* #services apenas para melhor identificação do card, e caso for usar o card fora da section #services, nao terao essas configuraçoes*/
#services .cards {
  display: flex;
  flex-direction: column;
  /* espaço entre os elementos filhos, no caso .card */
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: #ffffff;

  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  /* ou margin-block */
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

/*  ======================ABOUT/SOBRE==================== */

#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

/* criado padrao para p no GERAL /\ */

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*  ======================CONTACT/CONTATO==================== */
