/* import fonts - google */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

/* usage - font-family: 'DM Sans', sans-serif;*/

/* rem - propriedade relativa

  tamanho padrão fonte navegador: 16px
 */
:root {
  /* 62.5% == 10px aproximadamente */
  font-size: 62.5%;
  --primary-color: hsl(170, 100%, 26%);
  --back-color: hsl(148, 23%, 89%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
}

/* font-size: 1rem  - equivale a 100% do font-size definido no root*/
/* 1rem = 10px */
/* obs: para saber o valor em rem - qntidade em pixel/10 */

body {
  font-family: 'DM Sans', sans-serif;
  /* 1.6 define o font para aproximadamente 16px */
  font-size: 1.6rem;
}

header {
  width: 37.5rem;
  height: 108rem;

  text-align: center;

  margin-left: auto;
  margin-right: auto;

  background: var(--back-color);
}

h4 {
  font-size: 1.4rem;
  line-height: 150%;

  margin-top: 4.1rem;
  margin-bottom: 1.6rem;

  color: var(--primary-color);
}

h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 2.4rem;
}

p {
  width: 32.7rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;
}

button {
  background: var(--primary-color);
  width: 26.3rem;
  height: 5.2rem;

  border-radius: 4rem;
  border: none;

  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;

  /* trabalha com as caixas de dentro */
  display: flex;
  justify-content: center;
  align-items: center;
  /* espaço entre os elementos */
  gap: 1.6rem;
  /* o flex tem o mesmo comportamento do block para os elementos fora */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* filter: blur(1.8rem); */
  filter: drop-shadow(0px -1px 1px var(--primary-color));
}

.div-numbers {
  width: 32.7rem;
  height: 47rem;

  background: #fffaf1;

  margin-left: auto;
  margin-right: auto;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-numbers p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--primary-color);
}

.div-numbers h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
}
/* -------------------------- */
